* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html: root */
html,body{
    font-family: 'Roboto', sans-serif;
   
}

.header{
    background-color: white;
    justify-content: space-between;
    align-items: center;
    
}

.row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    

}

.header__right{

}

.header__right ul{
    list-style: none;

  
}  


.header__right nav a{
    text-decoration: none;
    color: black;
    
}
.header__right li{
    display: inline-block;
    margin-right: 40px;
}
.header__right li i{
  font-size: 14px;
}
.header__right button{
    
}


.header__right nav ul li a{
  font-size: 20px;
 margin-top: -50px;
 transition: 0.25s cubic-bezier(0, 0, .5, 1.4);

}
.header__right ul li a:hover{
  margin-top: 0;
}
.header__right ul li a{
  content: attr(data-text);
  color: #070120;
}
